:root{
    --cor-bg1: #89293F;
    --cor-bg2: #6A2B39;
    --cor-bg3: #512731;
    --cor-bg4: #301C20;
    --cor-bg5: #1E1114;

    --cor-p5: #F09400;
    --cor-p6: #DA5B78;
    --cor-p3: #F06E00;

    --cor-sub1: #E4D4D7;
    --cor-sub2: #BCA4A9;

    --branco: #FFFFFF;
}