* {
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    padding: 0px;
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.mini-titulo{
    text-transform: uppercase;
    color: var(--cor-p5);
    font: 400 1rem/1.5 "Lato", sans-serif;
    letter-spacing: 0.020em;
}

.titulo{
    color: var(--branco);
    font: 800 4rem/1.125 "Montserrat", sans-serif;
}

.descricao{
    color: var(--cor-sub1);
    font: 400 1.5rem/1.5 "Lato", sans-serif;
}

.titulo-secundario{
    color: var(--branco);
    font: 800 3rem/1.125 "Montserrat", sans-serif;
}

@media (max-width: 1150px){
    .mini-titulo{
    font-size: 0.8rem;
    }  

    .titulo{
    font-size: 3.0rem;
    }

    .descricao{
    font-size: 1.0rem;
    max-width: 40ch;
    }
}
