.introducao-bg{
    background: var(--cor-bg4);
}

.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: end;
    gap: 20px;
    height: 460px;
    overflow: hidden;
    position: relative;
}

.introducao-titulo .titulo{
    margin-top: 8px;
    position: relative;
}

.introducao-titulo .titulo::after{
    content: "";
    display: block;
    height: 4px;
    width: 272px;
    background: var(--cor-p5);
    margin-top: 16px;
    position: absolute;
}

.introducao-titulo .descricao{
    margin-top: 32px;
}

.introducao-img{
    flex-direction: column;
    max-width: 800px;
    column-count: 4;
    column-gap: 16px;
    overflow: hidden;
}

.introducao-img > figure > img {
    margin-bottom: 12px;
}

.btn-bg{
    background: var(--cor-bg5);
}

.button{
    background: var(--cor-bg2);
    border-radius: 8px;
    padding: 16px 16px 12px 16px;
    border: none;
    transition: transform 0.2s;
    position: absolute;
    top: 510px;
    cursor: pointer;
}

.button img:hover{
    transform: translateY(4px);
    cursor: pointer;
}

@media (max-width: 1150px){
    .introducao{
        justify-items: start;
        height: 400px;
    }

    .button{
        top: 450px;
    }
}

@media (max-width: 640px){
    .button{
        display: none;
    }

    .introducao-img{
        display: none;
    }

    .introducao{
        background: url(../../img/bolo-bg.jpg) no-repeat right 0px;
        left: 0px;
    }
}

@media (max-width: 600px){
    .introducao{
        background: none;
        grid-template-columns: 1fr;
    }
}